body {
    margin: 0;
    min-width: 575px;
}

div {
    border: solid 1px black;    
}

.blue {
    background-color: #C6D9F1;
}

.orange {
    background-color: #FDE9D9;
}

.green {
    background-color: #EAF1DD;
}

.white {
    background-color: #FFFFFF;
}

#grid-container {
    display: grid;
}

@media (min-width: 0px) {
    #grid-container {
        grid-template-columns: auto 60vw auto;
        grid-template-rows: 20vh auto auto 20vh;
    }
}

@media (min-width: 690px) {
    #grid-container {
        grid-template-columns: 20vw 60vw 20vw;
        grid-template-rows: 20vh auto auto 20vh;
    }
}

@media (min-width: 917px) {
    #grid-container {
        /* grid-template-columns: 0.2fr 1fr 0.2fr;
        grid-template-rows: 25% 100px 700px 25%; */
        grid-template-columns: 15vw 70vw 15vw;
        grid-template-rows: 25vh 10vh 100vh 25vh;
    }
}

.num-div {
    padding: 20px;
}

#div1, #div2, #div3, #div4, #div5, #div6 {
    display: flex;
    align-items: center;
}

#div1 {
    grid-area: 1 / 1 / 4 / 2;
    flex-direction: column;
    justify-content: center;
}

#div2 {
    grid-area: 1 / 2 / 2 / 4;
    justify-content: space-around;
}

#div3 {
    grid-area: 2 / 2 / 3 / 3;
    justify-content: end;
}

#div4 {
    grid-area: 2 / 3 / 4 / 4;
    justify-content: center;
}

#div5 {
    grid-area: 3 / 2 / 4 / 3;
    flex-wrap: wrap;
    justify-content: start;
}

#div6 {
    grid-area: 4 / 1 / 5 / 4;
    justify-content: space-around;
}

.text-box {
    background-color: white;
    width: 20%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

h3 {
    margin: 0;
}

.gallery-item {
    width: 300px;
    height: 300px;
    object-fit: cover;
}